<section>
  <%= form_with model: @task, local: true do |form| %>
    <div class="flex space-x-1">
      <%= form.text_field :description, class: 'input', placeholder: 'Your quest' %>
      <%= form.submit 'Create Quest', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', tasks_path, class: 'btn', data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
</section>
